APP_NAME=Compra Fácil Server
APP_VERSION=0.3.0
ENVIRONMENT=development

MERCADO_LIBRE_BASE_URL=https://api.mercadolibre.com
MERCADO_LIBRE_SITE_ID=MLM
MERCADO_LIBRE_ACCESS_TOKEN=
MERCADO_LIBRE_TIMEOUT_SECONDS=10

ENABLE_DEMO_STORE=true

DATABASE_URL=sqlite:///./compra_facil.db