APP_NAME=Compra Fácil Server
APP_VERSION=1.2.0
ENVIRONMENT=development
API_V1_PREFIX=/api/v1

MERCADO_LIBRE_BASE_URL=https://api.mercadolibre.com
MERCADO_LIBRE_SITE_ID=MLM
MERCADO_LIBRE_ACCESS_TOKEN=
MERCADO_LIBRE_TIMEOUT_SECONDS=10
MERCADO_LIBRE_AFFILIATE_ID=

AMAZON_ASSOCIATE_TAG=

WALMART_AFFILIATE_ID=

ENABLE_DEMO_STORE=true

DATABASE_URL=sqlite:///./compra_facil.db