# Entorno virtual
.venv/
venv/

# Variables privadas
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Cobertura y compilación
.coverage
htmlcov/
dist/
build/
*.egg-info/

# Bases de datos locales
*.db
*.sqlite
*.sqlite3

# Base de datos local
*.db
*.db-journal
*.sqlite
*.sqlite3